<fieldset class='peeps'>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rss_feed %><br />
    <%= f.text_field :rss_feed %>
  </div>
  <div class="field">
    <%= f.label :twitter_handle %><br />
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label :gh_username %><br />
    <%= f.text_field :gh_username %>
  </div>
    <%= f.hidden_field :_destroy %>
   <%= link_to "remove", '#', class: "remove_fields" %>
</fieldset>
