<% @teams.each_with_index do |team, index| %>
  <%= content_tag :li, :class => "event item post #{spine_position(index)}" do %>
      <div class="<%= "pointer  #{spine_position(index)} post"%>">
        <h4 class="<%= spine_position(index) %>"><%= team.name %></h4>
      </div>
          <p>Teamline:<a href="http://<%= team.subdomain %>.teamline.io"> <%= team.subdomain %>.teamline.io</a></p>
          <p>Website: <a href="http://<%= team.website %>"><%= team.website %></a></p>
  <% end %>
  <div class="clear-<%= spine_position(index) %>"></div>

<% end %>