<!-- 
<div id="headline">Welcome to The Flatiron School Teamline - <a href="/auth/github">Sign up to add your info to the timeline</a>.</div>
 -->
<div class="container">
  <div class="four columns alpha">
    <a href="/">
      <h1 id="logo-top">
      Teamline - a timeline for teams.
      </h1>
    </a>
  </div>
  <div class="eight columns">
    <div id="filters">
      <ul>
        <a href="#">
          <li class="dates"><h2>Dates</h2></li>
        </a>    
        <a href="#">
          <li class="events"><h2>Events</h2></li>
        </a>
        <a href="#">
          <li class="people"><h2>People</h2></li>
        </a>
      </ul>
    </div>
   </div>
<!--   <div class="four columns omega">
    <div id="nav">

<% if current_user %>
  Signed in as <%= current_user.name %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <a href="/auth/github"><p id="signup">Sign Up</p></a>
<% end %>
  
    <a href="#">
      <p id="learnmore">Learn More</p>
    </a>
    </div>
  </div>
 -->
  <div class="row clearfix"></div>

    <div class="sixteen columns">
      <div class="dates-expand">
      </div>

      <div class="people-expand">

       <%= form_tag('/timeline/filter', :method => :get, :remote => true, :id => 'filterForm' ) %>

    <div class="people-filters"> 
      <ul>
      <% Person.all.each do |person| %>
        <li><%= check_box_tag 'filter[person_ids][]', person.id -%>
        <img src="<%= h person.avatar_url -%>">        <%= h person.name -%>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="center-filter-jams">    

    <div class="date-filters"> 
      <%= text_field_tag 'start_date' %>
    </div>

    <div class="event-filters"> 
      <ul>
      <% Timeline::Events.each do |event| %>
        <li><%= check_box_tag 'filter[type][]', event -%>
        <div class="<%= h event -%>">
        </li>
      <% end %>
    </ul>
    </div>

    </div>
        </div>

    </div>

  <a href="/"><div class="scroller-high"></div></a>
  <div class="scroller-low"></div>


  <div class="row clearfix"></div>

</div><!-- end container -->

<script type="text/javascript">
var repeater = function(){
  $(".scroller-low").hover(function(){
      var $this = $(this);
      $("body").scrollTo('ol.timeline li:last', 160000);
  },function(){
      $("body").stop();
      // stop on unhover
  });
}
repeater();
</script>

<script type="text/javascript"> 
    $("li.dates").click(function() {
      $('.dates-expand').hide('slow');
      $('.events-expand').hide('slow');
      $('.people-expand').show('slow');
    });
    $("li.events").click(function() {
      $('.dates-expand').hide('slow');
      $('.events-expand').hide('slow');
      $('.people-expand').show('slow');
    });
    $("li.people").click(function() {
      $('.dates-expand').hide('slow');
      $('.events-expand').hide('slow');
      $('.people-expand').show('slow');
    });
</script>