<% @grouped_events.each do |date, events| %>
  
  <div id="date-header"><h2><%= date_header_format(date) %></h2></div>

  <% events.each_with_index do |event, index| %>
      <% if event.classname == "tweet" %>
        <%= content_tag :li, :class => "event item #{event_type(event)} #{spine_position(index)}",  :data => {:date => "#{event.published_at.to_s(:db)}"} do -%>
        <div class="<%= "pointer #{spine_position(index)} #{event_type(event)}" %>">        <h4 class="<%= "#{spine_position(index)}" %>"><%= event.person.name %>  <%= time_ago_in_words(event.published_at) %> ago</h4>
        </div>
        <h2>"<%= raw(event.content) %>"</h2>

        <div class="secondary">
          <p><img class="avatar" src="<%= event.person.avatar_url %>"><a href="https://twitter.com/<%= event.person.twitter_handle %>" class="twitter-follow-button" data-show-count="false">Follow</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[1];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </p>
        </div>
      <% end -%>
      <div class="clear-<%=spine_position(index)%>"></div>

      <% elsif event.classname == "ghevent" %>
      <%= content_tag :li, :class => "event item #{event_type(event)} #{spine_position(index)}",  :data => {:date => "#{event.published_at.to_s(:db)}"} do -%>
        <div class="<%= "pointer #{spine_position(index)} #{event_type(event)}" %>">
        <h4 class="<%= "#{spine_position(index)}" %>"><%= event.headline %> <%= time_ago_in_words(event.published_at) %> ago</h4>
        </div>
          <h2 class="ghevent" #{spine_position(index)}><%= raw(event.content) %></h2>
  
        <div class="secondary">
          
          <p><img class="avatar" src="<%= event.person.avatar_url %>"><iframe src="http://ghbtns.com/github-btn.html?user=<%= event.username %>&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></p>
        </div>
    <% end -%>
    <div class="clear-<%=spine_position(index)%>"></div>

    <% elsif event.classname == "post" %>
      <%= content_tag :li, :class => "event item #{event_type(event)} #{spine_position(index)}",  :data => {:date => "#{event.published_at.to_s(:db)}"} do -%>
        <div class="<%= "pointer #{spine_position(index)} #{event_type(event)}" %>">
        <h4 class="<%= "#{spine_position(index)}" %>"><%= event.person.name %> <%= time_ago_in_words(event.published_at) %> ago</h4></div>
          <h2>"<%= event.title %>" - by <%= event.person.name %></h2>
    
        <div class="secondary">
          <img class="avatar" src="<%= event.person.avatar_url %>">
          <h2><%= truncate((raw(event.content)), :length => 100, :separator => ' ', :omission => '...continued' )%></h2>
        </div>
    <% end -%>
    <div class="clear-<%=spine_position(index)%>"></div>

    <% else %>
      <%= content_tag :li, :class => "event item #{event_type(event)} #{spine_position(index)}",  :data => {:date => "#{event.published_at.to_s(:db)}"} do -%>
        <div class="<%= "pointer #{spine_position(index)} #{event_type(event)}" %>"></div>
        <h2><%= raw(event.content) %></h2>
        <div class="secondary"></div>
    <% end -%>
    <div class="clear-<%=spine_position(index)%>"></div>

    <% end %>

  <% end %>

<% end %>
