<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Content</th>
    <th>Url</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= time_ago_in_words(post.published_at) %> ago</td>
    <td><%= raw( post.content.gsub(/<img([^>])+>/,"").truncate(250, :separator => ' ', :omission => '...') ) %>
        <%= link_to "Read more", post.url %>
    </td>
    <td><%= post.url %></td>
  </tr>
<% end %>
</table>

<br />


