<!DOCTYPE html>
<html>
<head>
  <title>Teamline</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Signed in as <%= current_user.name %>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>
<!-- <div id="notice_bar">
  <p id="title"><#%= link_to "TEAMLINE", root_url %> <em>a timeline for teams</em></p>
  <p id="nav">
  <#%= link_to "Teamline", root_url %> / <#%= link_to "Team Members", people_path %> / <#%= link_to "Blog Posts", posts_path %> / <#%= link_to "Github Activity", gh_events_path %> / <#%= link_to "Tweets", tweets_path %>
</div> -->

<%= yield %>

<script type="text/javascript">

var gaq = gaq || []; _gaq.push(['_setAccount', 'UA-33578770-3']); _gaq.push(['_trackPageview']);

(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

</script>
</body>
</html>
